{% extends "layout.html" %}

{% block title %}
    {{ search }}
{% endblock %}
{% block name %}
{{ user[0]["firstname"] }}
 {% endblock %}
{% block main %}
{% if rows %}
  <div>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ISBN</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    {% for i in rows %}
      <tr>
        <th class="counterCell" scope="row"><a class="nav-link" href=""></a></th>
        <td><p class="nav-link" href="">{{ i["isbn"] }}</p></td>
        <td><a class="nav-link" href="/book/{{ i["title"] }}">{{ i["title"] }}</a></td>
        <td><p class="nav-link" href="">{{ i["author"] }}</p></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% else %}
<div class="jumbotron">
  <h1 class="display-4">Nothing</h1>
  <p class="lead">You don't have favourite books.</p>
</div>
{% endif %}
{% endblock %}
