{% extends "layout.html" %}

{% block title %}
    Edit Socials
{% endblock %}
{% block name %}
{{ user[0]["firstname"] }}
 {% endblock %}

{% block main %}
{% if message %}
<p class="lead">{{ message }}</p>
{% endif %}

    <h2>Socials</h2>
    <form action="/social" method="post">
        <div class="form-group">
            <label for="web" class="col-sm-1 font-weight-bold col-form-label">Website</label>
            <input autofocus class="form-control" name="web" value="{{ social[0]["web"] }}" placeholder="{{ social[0]["web"] }}" type="text"/>
        </div>
        <div class="form-group">
            <label for="web" class="col-sm-1 font-weight-bold col-form-label">Twitter</label>
            <input class="form-control" name="twitter" value="{{ social[0]["twitter"] }}" placeholder="{{ social[0]["twitter"] }}" type="text"/>
        </div>
        <div class="form-group">
            <label for="web" class="col-sm-1 font-weight-bold col-form-label">Instagram</label>
            <input class="form-control" name="instagram" value="{{ social[0]["instagram"] }}" placeholder="{{ social[0]["instagram"] }}" type="text"/>
        </div>
        <div class="form-group">
            <label for="web" class="col-sm-1 font-weight-bold col-form-label">Facebook</label>
            <input class="form-control" name="fb" value="{{ social[0]["fb"] }}" placeholder="{{ social[0]["fb"] }}" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
